<!doctype html>
<html>
<head>
  <title>FarmSTND</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Concert+One|Fredoka+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins" rel="stylesheet">
  <link rel="stylesheet" href="buyer.css">
</head>
<body>
  <header>
    <section class="topPiece">
      <span> <img src="imgs/grow.png" alt=""> </span>

    </section>
    <section class="secondPiece">

      <h1>FarmSTND</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </section>
  </header>


  <section>
    <h2>Welcome to FarmSTND!- Buyer Profile</h2>
  </section>





  <section>
    <section class="leftSide">
      <section class="selectPlusImg">
        <span>Step 1: Select Your Produce</span>
        <form class="selection" action="/buyerprofile" method="post">
          <select id="type" class="selector" name="proOption">



            <<option value="">Select</option>
            <option value="Cassava">Cassava</option>
            <option value="Yam">Yam</option>
            <option value="Ginger">Ginger</option>
            <option value="Kolanut">Kolanut</option>
            <option value="Groundnut">Groundnut</option>
            <option value="Banana">Banana</option>
            <option value="Mango">Mango</option>
            <option value="Melon">Melon</option>
            <option value="Corn">Corn</option>
            <option value="Tomato">Tomato</option>
            <option value="Avocado">Avocado</option>
            <option value="Carrot">Carrot</option>
            <option value="Okra">Okra</option>
            <option value="Pepper">Pepper</option>
          </select>
        </form>
        <% if(type) { %>
          <section class="produceImg"><img src="/imgs/<%= type %>.png" alt=""></section>
          <% } %>
        </section>
    </section>

      <section class="rightSide">
        <section class="farmerListing">
          <p>Step 2: View Produce From Farmers And Make An Offer</p>
          <h3>Farmers Listing</h3>
          <table style="width:86%">
            <tr>
              <th>Item</th>
              <th>Quanity</th>
              <th>Farmer Email</th>
              <th>Offer</th>
              <th>Suggested Price</th>
              <th>Bid</th>
            </tr>
            <% for(let i=0; i< produce.length; i++) {%>
              <tr>
                <form class="" action="submitBid" method="post">
                  <td><%= produce[i].type %></td>
                  <td><%= produce[i].quantity %></td>
                  <td><%= produce[i].email %></td>
                  <td>
                    <input placeholder="Offer" type="text" name="offerAmt" value="">
                    <input type="hidden" name="produceId" value="<%= produce[i]._id %>" >
                    <input type="hidden" name="farmerEmail" value="<%= produce[i].email %>">
                  </td>
                  <td><%= produce[i].suggestedPrice %></td>
                  <td><input type="submit" name="" value="Bid"></td>
                </form>
              </tr>
              <% } %>
            </table>
          </section>
          <% if(bids.length > 0) { %>
            <section class="bidHolder">
              <p>Step 3: View Your Bids And Status Of Each Offer</p>
              <p>Step 4: Once Price Is Agreed Upon Claim Your Produce</p>
              <h3>Bid Status</h3>
              <section class="bidBackground">
                <table style="width:86%">
                  <tr>
                    <th>Item</th>
                    <th>Offer</th>
                    <th>Farmer Email</th>
                    <th>Status</th>
                    <th>Claim</th>
                  </tr>
                  <% for(let i=0; i< bids.length; i++) {%>
                  <tr>

                    <td><%= bids[i].produceItem.type %></td>
                    <td><%= bids[i].offerAmt %></td>
                    <td><%= bids[i].farmerEmail %></td>
                    <% if(bids[i].status === "Accept" || bids[i].status=== "Counter") { %>
                      <td><%= bids[i].status %></td>
                      <td><button data-bidId="<%= bids[i]._id %>" data-farmerEmail="<%= bids[i].farmerEmail %>" class="claimIt" type="button" name="button">Claim</button></td>
                      <% } else { %>
                        <td>Pending</td>
                        <% } %>

                      </tr>
                      <% } %>
                    </table>
                  </section>

                </section>
        </section>

              <% } %>



        </section>


            <script src="main.js"></script>

          </body>
          </html>
